.container-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.inner {
    flex: 1 auto 0;
    margin: 5px 5px 0 0;
    border: 3px solid black;
    height: 40px;
    width: 40px;
}

.row {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: black;
}