.container-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 960px;
}

.inner {
    flex: 1 auto 0;

    
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-fill {
    background-color: black;
}

.red-fill {
    background-color: red;
}

.green-fill {
    background-color: green;
}

.blue-fill {
    background-color: blue;
}

.purple-fill {
    background-color: purple;
}

.grid-button {
    padding: 5px;
    margin: 10px;
}

#column {
    flex: 1;
    border: 3px solid black;
    height: 500px;
    width: 500px;
    margin: 20px auto;
}

.button-container {
    display: flex;
    flex-direction: row;
}