.container-div {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 960px;
}

.inner {
    flex: 1 auto 0;

    
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: black;
}

#alter-grid {
    padding: 5px;
    margin: 10px;
}

#column {
    border: 3px solid black;
    height: 500px;
    width: 500px;
}